* {
    margin: 0;
    padding: 0;
}

body{
    background-color:#fffffa;
}
header {
    width: 100%;/*#117a8b;*#17a2b8*/
    overflow: hidden;
    background:#117a8b;  
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
}

.container{
    padding: 200px;
    max-width: 2000px;
}

header .logo{
    /*color:#f2f2f2;*/
    font-size: 50px;
    line-height: 200px;
    float:left;
}
header nav{
    float: right;
    line-height: 200px;
    padding-left: 200px; 

}

header nav a{
    display:inline-block;
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;/* 10 arriba y abajo y 20 hacia los lados*/
    line-height: normal;
    font-size: 20px;
    font-weight:bold; 
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; 
}

header nav a:hover {
    background:#f56f3a;
    border-radius:50px;
}

.header2{
    position: fixed;
    height: 100px;
}

.header2 .logo{
    line-height:100px;
    font-size: 30px;
}

.header2 nav{
    line-height:100px;
}

.contenido {
    padding-top: 100px;
}

.contenido p {
    margin-bottom: 1em; 
}